In [ ]:
import os
import pandas as pd

<h3>Path</h3>

In [ ]:
df19 = pd.read_csv('raw_data/download.csv')
df20 = pd.read_csv('raw_data/download (1).csv')
df21 = pd.read_csv('raw_data/download (2).csv')
df22 = pd.read_csv('raw_data/download (3).csv')
df23 = pd.read_csv('raw_data/download (4).csv')

<h3>Data Understanding</h3>

In [ ]:

print('2019:',df19.shape)
print('2020:',df20.shape)
print('2020:',df21.shape)
print('2021:',df22.shape)
print('2022:',df23.shape)

In [ ]:
df19.head(20)

In [ ]:
print('2019:',df19.columns)
print('2020:',df20.columns)
print('2021:',df21.columns)
print('2022:',df22.columns)
print('2023:',df23.columns)

<h4>Data Type</h4>
<p>Taking a look into the data type from our raw files</p>

In [ ]:

print('2019:','\n', df19.dtypes)
print()
print('2020:','\n', df20.dtypes)
print()
print('2021:','\n', df21.dtypes)
print()
print('2022:','\n', df22.dtypes)
print()
print('2023:','\n', df23.dtypes)

In [ ]:
print('ALL DATA')
print(df19.describe() + df20.describe() + df21.describe() + df22.describe() + df23.describe())

<h2>Data Preparation</h2>

<h3>Try Except</h3>
<p>Catching some errors</p>

In [ ]:
col_int = ['Codi_districte', 'Codi_barri', 'NK_Any', 'Mes_any', 'Numero_incidents_GUB']

for col_i in col_int:
    try:
        df19[col_i] = df19[col_i].astype('int64')
    except ValueError as e:
        print(f"Error '{col_i}' in df19: {e}")

    # try:
    #     df20[col_i] = df20[col_i].astype('Int64')
    # except ValueError as e:
    #     print(f"Error '{col_i}' in df20: {e}")

    # try:
    #     df21[col_i] = df21[col_i].astype('Int64')
    # except ValueError as e:
    #     print(f"Error '{col_i}' in df21: {e}")

    # try:
    #     df22[col_i] = df22[col_i].astype('Int64')
    # except ValueError as e:
    #     print(f"Error '{col_i}' in df22: {e}")

    # try:
    #     df23[col_i] = df23[col_i].astype('Int64')
    # except ValueError as e:
    #     print(f"Error '{col_i}' in df23: {e}")



# df19c['Mes_any'] = pd.to_numeric(df19c['Mes_any'], errors='coerce')

# # Fill NaN values with a default value (e.g., 0)
# df19c['Mes_any'].fillna(0)

# # Convert "Mes_any" to int64
# df19c['Mes_any'] = df19c['Mes_any'].astype('int64')

In [ ]:
df19['Mes_any'] = pd.to_numeric(df19['Mes_any'], errors='coerce').fillna(0).astype('int64')
df19['Codi_districte'] = df19['Codi_districte'].fillna(0).astype('int64')
df19['NK_Any'] = df19['NK_Any'].fillna(0).astype('int64')
df19['Numero_incidents_GUB'] = df19['Numero_incidents_GUB'].fillna(0).astype('int64')

print(df19.dtypes)

In [ ]:
# error19_1 = df19[df19.eq('21B').any(axis=1)]
# error19_2 = df19[df19.eq('11:23:59 AM').any(axis=1)]
# error20 = df20[df20.eq('21M').any(axis=1)]
# error21 = df21[df21.eq('21M').any(axis=1)]
# error22 = df22[df22.eq('21M').any(axis=1)]
# error23 = df23[df23.eq('21M').any(axis=1)]

# error19_1
# error19_2
# error20
# error21
# error22
# error23

<p>21B = 99990 <br> 21M = 99991 <br> Droping col 33855 from df19</p>

In [ ]:
# df19.iloc[13687].replace({'21B': 99990})
# # df19.drop(index=33855, inplace=True)

# df20.iloc[14205].replace({'21M': 99991})

# df21.iloc[1125].replace({'21M': 99991})
# df21.iloc[18057].replace({'21M': 99991})
# df21.iloc[24280].replace({'21M': 99991})

# df22.iloc[10912].replace({'21M': 99991})
# df22.iloc[10914].replace({'21M': 99991})
# df22.iloc[21170].replace({'21M': 99991})
# df22.iloc[27944].replace({'21M': 99991})

# print(df23.iloc[18223].replace({'21M': 99991}),
# df23.iloc[31895].replace({'21M': 99991}))

In [ ]:
# df19[col_i] = pd.to_numeric(df20[col_i], errors='coerce').astype('Int64').fillna(0)
# df20[col_i] = pd.to_numeric(df20[col_i], errors='coerce').astype('Int64').fillna(0)
# df21[col_i] = pd.to_numeric(df21[col_i], errors='coerce').astype('Int64').fillna(0)
# df22[col_i] = pd.to_numeric(df22[col_i], errors='coerce').astype('Int64').fillna(0)
# df23[col_i] = pd.to_numeric(df23[col_i], errors='coerce').astype('Int64').fillna(0)

In [ ]:
# col_str = ['Descripcio_Incident', 'Nom_districte', 'Nom_barri', 'Nom_mes']

# for col_s in col_str :
#     df19[col_s] = df19[col_s].astype('object').fillna('0')
#     df20[col_s] = df20[col_s].astype('object').fillna('0')
#     df21[col_s] = df21[col_s].astype('object').fillna('0')
#     df22[col_s] = df22[col_s].astype('object').fillna('0')
#     df23[col_s] = df23[col_s].astype('object').fillna('0')

In [111]:
df19.head()

,Codi_Incident,Descripcio_Incident,Codi_districte,Nom_districte,Codi_barri,Nom_barri,NK_Any,Mes_any,Nom_mes,Numero_incidents_GUB
0,410,ACTIVITATS MOLESTES EN ESPAIS PÚBLICS ...,6,Gràcia,31,la Vila de Gràcia,2019,1,Gener,85
1,210,ACCIDENTS DE TRÀNSIT SENSE FERITS ...,10,Sant Martí,73,la Verneda i la Pau,2019,4,Abril,4
2,200,INCIDÈNCIES AMB AFECTACIÓ DE VIA ...,2,Eixample,9,la Nova Esquerra de l'Eixample,2019,4,Abril,12
3,400,CONVIVÈNCIA VEINAL ...,6,Gràcia,31,la Vila de Gràcia,2019,4,Abril,105
4,670,AGRESSIONS ...,1,Ciutat Vella,3,la Barceloneta,2019,1,Gener,12

<h3>Mergin Files</h3>

In [ ]:
all_dfs = pd.concat([df19, df20, df21, df22, df23], ignore_index=True)

output_dir = 'output_data'
output_file = os.path.join(output_dir, 'allrawdata.csv')

all_dfs.to_csv(output_file, index=True)

In [ ]:
df = all_dfs.copy()
df.reset_index(drop=True)
df.head()

<h2>Data Cleaning</h2>

In [ ]:
print(df.shape)
df.dtypes

In [ ]:
# df['Mes_any'] = df['Mes_any'].replace('99999', 99999)

# # Remove non-numeric characters
# df['Mes_any'] = df['Mes_any'].str.replace('[^0-9]', '', regex=True)

# # Convert to numeric
# df['Mes_any'] = pd.to_numeric(df['Mes_any'], errors='coerce')

# # Fill NaN values with 0
# df['Mes_any'].fillna(0, inplace=True)

# # Convert to int64
# df['Mes_any'] = df['Mes_any'].astype('int64')

# # Print the data types of the DataFrame
# print(df.dtypes)

In [ ]:
df.head()

In [ ]:
col_rename = {
    'Codi_Incident': 'c_incident',
    'Codi_districte': 'c_district',
    'Codi_barri': 'c_hood',
    'NK_Any': 'year',
    'Mes_any': 'month#',
    'Numero_incidents_GUB': 'incident_amount',
    'Descripcio_Incident': 'incident_type',
    'Nom_districte': 'district',
    'Nom_barri': 'hood',
    'Nom_mes': 'month'
}

df.rename(columns=col_rename, inplace=True)

In [ ]:
column_uq_value = ['incident_type', 'hood', 'district', 'month']

for col in column_uq_value:
    uq_value = df[col].unique()
    df_uq_value = pd.DataFrame(uq_value, columns=[col])
    output_file = f'output_data/uq_{col}.csv'
    df_uq_value.index += 1
    df_uq_value.to_csv(output_file, index=False, header=False)

In [ ]:
import json

with open('catalan.json', 'r') as file:
    translations = json.load(file)

for column in df.columns:
    if column in translations:
        df[column].replace(translations[column], inplace = True)

print(df)

<h2>Analyzing the Data</h2>


<h3>Export df to csv</h3>

In [ ]:
clean_dir = 'clean_data'

output_file = os.path.join(clean_dir, 'bcn_clean_data.csv')

df.to_csv(output_file, index=True)

<h4>Getting coordenates for Map in Tableau</h4>

In [148]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent="my_geocoder")

uq_districts = df['district'].unique()

country = 'Spain'
state = 'Catalonia'
city = 'Barcelona'

coordinates = []

for district in uq_districts:
    location = geolocator.geocode(district + ", Barcelona, Spain")

    if location:
        latitude = location.latitude
        longitude = location.longitude
    else:
        latitude = None
        longitude = None

    coordinates.append({'country': country,'state': state,'city': city,'district': district, 'latitude': latitude, 'longitude': longitude})

coordinates_district = pd.DataFrame(coordinates)
coordinates_district.to_csv('output_data/coordinates_district.csv', index = False)
coordinates_district

,country,state,city,district,latitude,longitude
0,Spain,Catalonia,Barcelona,Gracia,41.406577,2.158281
1,Spain,Catalonia,Barcelona,Sant Martí,41.408410,2.203189
2,Spain,Catalonia,Barcelona,Eixample,41.393689,2.163655
3,Spain,Catalonia,Barcelona,Ciutat Vella,41.381979,2.180415
4,Spain,Catalonia,Barcelona,Sants - Montjuic,41.369461,2.144185
5,Spain,Catalonia,Barcelona,Nou Barris,41.445815,2.179801
6,Spain,Catalonia,Barcelona,Sant Andreu,41.437250,2.195487
7,Spain,Catalonia,Barcelona,Sarria - Sant Gervasi,41.401617,2.129857
8,Spain,Catalonia,Barcelona,Horta-Guinardó,41.428965,2.150619
9,Spain,Catalonia,Barcelona,Les Corts,41.385244,2.132863
10,Spain,Catalonia,Barcelona,Unknown (need recoding),NaN,NaN

In [88]:
# uq_hood = df[['district', 'hood']].drop_duplicates()
# uq_hood['city'] = 'Barcelona'
# uq_hood['latitude'] = ''
# uq_hood['longitude'] = ''

# uq_hood.to_csv('output_data/uq_hood_districts.csv', index = False)